.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;


    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, 0.45);
    border-radius: 5px;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__textarea {
        display: block;
        flex-grow: 1;
        height: 25px;
        overflow: hidden;

        border: none;
        background: transparent;
        resize: none;

        font-family: inherit;
        font-size: 1.5rem;
        color: $white;

        &::placeholder {
            color: #D2D2D2;
        }
    }

    &__form-actions {
        width: 12rem;
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;

        @include breakpoint($mobile-bp) {
            width: 9rem;
        }
    }


    &__file {
        display: block;
        width: 4.4rem;
        height: 4.4rem;

        border-radius: 50%;
        background: #EBEBEB url("../images/add-photo.svg") center no-repeat;
        cursor: pointer;

        input {
            display: none;
        }

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: darken(#EBEBEB, 10%);
        }

        @include breakpoint($mobile-bp) {
            width: 3.4rem;
            height: 3.4rem;

            background-size: 1.8rem;
        }
    }

    &__send {
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        margin-left: 1.5rem;

        border-radius: 50%;
        cursor: pointer;
        background: $blue url("../images/send-arrow.svg") center no-repeat;
        border: none;
        font-size: 0;
        color: transparent;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: darken($blue, 10%);
        }

        @include breakpoint($mobile-bp) {
            width: 3.4rem;
            height: 3.4rem;

            background-size: 1.5rem;
        }
    }
}