.form {

    // .form__group
    &--auth {
        max-width: 28rem;
        margin: 0 auto;
    }



    &__group {
        margin-bottom: 1.5rem;
        position: relative;

        &--md {
            margin-bottom: 2.5rem;
        }
    }

    // .form__control

    &__control {
        display: block;
        width: 100%;
        padding: .5rem 0 .75rem;

        font-family: inherit;
        font-size: 1.4rem;
        color: $white;


        background-color: $primary;
        border: none;
        border-bottom: 1px solid #3F3F3F;
        border-radius: 0;
        box-shadow: none;

        &::placeholder {
            color: rgba($white, .2);
        }

        &:focus+.form__line {
            width: 100%;
        }

        &--textarea {
            height: 3rem;
            resize: none;
            overflow: hidden;
        }
    }

    &__line {
        width: 0;
        height: 1px;

        background-color: $blue;

        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        transition: width .2s linear;
    }

    &__footer {
        &--center {
            text-align: center;
        }


        &-list {
            display: flex;
            justify-content: center;

            font-size: 1.2rem;
            line-height: 1.2;
        }

        &-item {
            margin: 0 .5rem;
        }

        &-link {
            font-family: inherit;
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}