.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;

    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black, .35);
    border-radius: 5px;

    &__header {
        margin: 0 0 2.5rem;

        &--preview {
            margin: -2.5rem -2.5rem 2.5rem;

        }

    }

    &__preview {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__content {
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        color: $white;
        font-weight: 500;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &--mb0 {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        margin-top: 3rem;
        margin-bottom: 2rem;

        font-size: 1.6rem;
        color: $white;
        font-weight: 500;
    }


    &__description {
        font-size: 1.4rem;
        color: #D2D2D2;
    }

    &__text {
        padding-bottom: 1rem;
        font-size: 1.4rem;
        color: $white;

        border-bottom: 1px solid #1C1C1C;

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 2rem;
            font-weight: 700;
        }

        h2 {
            font-size: 1.5em;
            font-weight: 700;
        }

        h3 {
            font-size: 1.25em;
            font-weight: 700;
        }

        h4 {
            font-size: 1.15em;
            font-weight: 700;
        }

        h5,
        h6 {
            font-size: 1em;
        }

        ul,
        ol {
            margin-bottom: 2rem;
        }

        ol {
            list-style: decimal;
            list-style-position: inside;
        }

        p {
            margin-bottom: 2rem;
        }

        table {
            width: 100%;
            margin-bottom: 2rem;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: auto;
        }

        a {
            color: $blue;
            text-decoration: none;


            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__data {
        display: flex;

        font-family: inherit;
        font-size: 1.2rem;
        line-height: 1.2;
        color: #828282;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__data-item {

        &:not(:last-child):after {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 1.5rem;
            position: relative;
            top: -2px;

            border-radius: 50%;
            background-color: #C4C4C4;

        }
    }

    &__read {
        font-size: 1.4rem;
        color: #107EFF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }



    &__action {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        font-size: 1.2rem;
        color: $white;



        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
            transition: opacity 0.1s linear;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }

    &__action-icon {
        margin-left: 0.5em;
    }
}