.related {
    padding-bottom: .5rem;

    border-bottom: 1px solid #1C1C1C;

    // .related__list

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    // .related__list-item

    &__list-item {
        width: 50%;
        margin-bottom: 2.5rem;
    }

    // .related__list-title

    &__list-title {
        font-size: 1.4rem;
        font-weight: 500;
        color: #F3EBA2;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .related__list-date

    &__list-date {
        font-size: 1.2rem;
        color: #828282;
    }
}