<aside class="sidebar">
    <div class="sidebar__header">
        <img class="sidebar__header-photo" src="assets/images/sidebar-header.jpg" alt="Wallpaper">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/avatar.jpg" alt="Аватар">
            <div class="profile__name">Максим Салчак</div>
            <div class="profile__prof">блог front-end разработчика</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/social/instagram.svg" alt="Максим Салчак instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/social/vk.svg" alt="Максим Салчак VK">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/social/pinterest.svg" alt="Максим Салчак Pinterest">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>Начинающий front-end разработчик. Практикую верстки сайтов. Созданием сайтов занимаюсь с 2022 года.
                </p>
                <p>Продолжаю развиваться в IT. Ключевые навыки: HTML, CSS, SCSS, JS</p>
            </div>
        </div> <!-- profile -->
    </div> <!-- sidebar__content -->
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>